# general
log
/_build/
/_checkouts/
*~
erl_crash.dump
.tags*
*.sublime-workspace
.edts
.DS_Store
/.idea/
*.beam
rebar3.crashdump
/src/*_thrift.erl
/include/*_thrift.hrl
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
/tmp/
/lib/
/target/
